@model InventoryViewModel;
@{
    ViewData["Title"] = "Invebtory";
}
<div class="text-center">
    <h1 class="display-4">Инвентарные номера</h1>    
</div>
<p>   
    <a href="/CreateInventory/Create">Создать новый</a>
</p>
<p align="center">
    Поиск по коду: @Html.TextBox("searchString")
    <input type="submit" value="Поиск" />
</p>
<table class="table-bordered"
       border="1"
       cellspacing="0"
       cellpadding="5"
       align="center"
       width="100%">
    <thade>
        <tr>
            <th width="10%">Номер Инв.</th>
            <th>Описание</th>
            <th width="10%">Дата создания</th>
            <th width="10%">Редактировать</th>
            <th width="5%">Удалить</th>
        </tr>
    </thade>
    <tbody>        
        @{
            foreach (Inventory inventory in Model.inventories)
            {
                <tr>
                    <td>
                        <a class="nav-link"
                           asp-controller="OrdersInventory"
                           asp-action="Orders"
                           asp-route-IdinventorySelect="@inventory.Id">
                            @inventory.Number
                        </a>
                    </td>
                    <td> @inventory.Name</td>
                    <td>@inventory.DateCreate</td>
                    <td>
                        <a class="nav-link"
                           asp-controller="Inventory"
                           asp-action="InventoryEdit"
                           asp-route-idInventory="@inventory.Id"
                           asp-route-codeInventory="@inventory.Number">
                            Редоктировать
                        </a>
                    </td>
                    <td>
                        <a class="nav-link"
                           asp-controller="Inventory"
                           asp-action="DeletInventory"
                           asp-route-idInventory="@inventory.Id"
                           asp-route-codeInventory="@inventory.Number">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
