@model OrdersInventoryViewModel

@{
    ViewData["Title"] = "OrdersInvebtory";
}
<div class="text-center">
    <h3 class="display-4">Заказы инвентарного </h3>
</div>

<p>
    <a class="nav-link" asp-controller="OrdersInventory" asp-action="CreateOrder" asp-route-IdinventorySelect="@ViewBag.Id"> Создать заказ </a>
</p>

<p align="center">
    Поиск по коду: @Html.TextBox("searchString")
    <input type="submit" value="Поиск" />
</p>
<table class="table-bordered"
       border="1"
       cellspacing="0"
       cellpadding="5"
       align="center"
       width="100%">
    <thade>
        <tr>
            <th width="10%">Заказ №</th>
            <th>Название</th>
            <th width="10%">Дата создания</th>
            <th width="10%">Редактировать</th>
            <th width="5%">Удалить</th>
        </tr>
    </thade>
    <tbody>
        @{
            foreach (Order order in Model.orders)
            {
                <tr>
                    <td> @order.Number </td>
                    <td> @order.Name </td>
                    <td> @order.DateCreate</td>
                    <td>
                        <a class="nav-link"
                           asp-controller="OrdersInventory"
                           asp-action="OrderEdit"
                           asp-route-idInventory="@order.InvenoryId"
                           asp-route-idOrder="@order.Id"
                           asp-route-codeOrder="@order.Number" >
                            Редоктировать
                        </a>
                    </td>
                    <td>
                        <a class="nav-link"
                           asp-controller="OrdersInventory"
                           asp-action="DeletOrder"
                           asp-route-idInventory="@order.InvenoryId"
                           asp-route-idOrder="@order.Id"
                           asp-route-codeOrder="@order.Number">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
